h1 {
    font-family: Georgia;
}

#login, #register {
  margin-top: 40px;
  padding: 20px;
  min-height: 60vh;
}

#loginBackground, #registerBackground {
  background-color: #27A;
  margin: 0;
  margin-left: -15px;
  width: 100vw;
  min-height: 100vh;
}

#btn-login, #btn-register {
    width: 100%;
    line-height: 32px;
    background-color: #059;
    color: white;
    font-weight: 900;
    border-style: none;
    border-radius: 2px;
}

#btn-login {
  background-color: #38C;
}

#btn-register {
  background-color: #047;
}

td {
    max-width: 15vw;
}

md-select {
    min-width: 20vw;
}

.readOnly {
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
}
