<div class="container">

	<md-button class="md-primary md-raised pull-left" ui-sref="edit">Edit List</md-button>
	<md-button class="md-warn md-raised pull-right" ng-click="logout()">Log out</md-button>
	<h1 class="text-center"> List </h1>

	<md-table-container ng-show="items.length > 0" class="hidden-xs">
		<table md-table>
			<thead md-head>
				<tr md-row>
					<th md-column>Item</th>
					<th md-column>Added By</th>
					<th md-column>Date Added</th>
					<th md-column>Check Off</th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row ng-repeat="item in items | filter: {retrieved: false}">
					<td md-cell>{{item.itemname}}</td>
					<td md-cell>{{item.addedBy}}</td>
					<td md-cell>{{item.date}}</td>
					<td md-cell>
						<md-button class="md-primary md-fab md-mini" ng-click="checkOff(item)" aria-label="Check Off">
							<i class="glyphicon glyphicon-check"></i>
						</md-button>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>

	<md-card ng-show="items.length > 0" ng-repeat="item in items | filter: {retrieved: false}" class="visible-xs">
		<md-card-content layout="row" layout-align="left center">{{item.itemname}}
			<span flex></span>
			<md-button class="md-primary md-fab md-mini" ng-click="checkOff(item)" aria-label="Check Off">
				<i class="glyphicon glyphicon-ok"></i>
			</md-button>
		</md-card-content>
	</md-card>

	<br><br>

	<h2 ng-show="noItems" class="text-center"> No Items. Go to 'Edit List' to add some! </h2>

</div>
