<div class="container" id="loginBackground">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<md-card id="login" class="md-whiteframe-24dp">
				<h1 class="text-center">HoneyFetch</h1>
				<br>
				<form>
					<md-input-container layout="row" flex>
						<label>User Name</label>
						<input ng-model="user.username">
					</md-input-container>
					<md-input-container layout="row" flex>
						<label>Password</label>
						<input type="password" ng-model="user.password">
					</md-input-container>
					<br>
					<br>
					<button ng-click="login(user)" id="btn-login" type="submit">LOGIN</button>
				</form>
				<br>
				<button ui-sref="register" id="btn-register">REGISTER</button>
				<h3 ng-show="error" class="error text-center">
					Invalid user name or password... Try again.
				</h3>
				<br>
				<br>
			</md-card>
		</div>
	</div>
</div>
